@font-face {
    font-family: Millik;
    font-weight: 700;
    src: url(./asset/font/Millik.c3f91cb.ttf) format("truetype");
    text-rendering: optimizeLegibility;
  }
  
  :root {
    --post-spacing: 1.78vw;
    --post-size: 25vw;
    --mask-size: 100vw;
  }
  
  * {
   
    font-family: Millik, Arial, sans-serif;
    font-size: 62.5%;

  }

  .title {
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -5%);
    p {
        font-size: 4rem;
        font-weight: 800;
        white-space: nowrap
    }
  }
  #banner {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: calc(var(--post-size) / 0.72);
    mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDE0NDAgNTAwIiBpZD0iaiI+CiAgPHBhdGggZmlsbD0icmdiKDIwMCwyMDAsMjAwKSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAwczI3NS4wNCAxMDAgNzIwIDEwMFMxNDQwIDAgMTQ0MCAwdjUwMHMtMjc1LjA0LTEwMC03MjAtMTAwUzAgNTAwIDAgNTAwVjB6Ii8+Cjwvc3ZnPgo=);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: var(--mask-size);
    position: absolute;
    top: 20%;
    .img-wrapper {
        display: flex;
        position: absolute;
        width: 100%;
        float: left;
        height: calc(var(--post-size) / 0.5);
        transform: translate(-15.39vw, 0);
        animation: admission 1.5s;
        transition: all 0.6s ease-in-out;
        .img-box {
           flex-shrink: 0;
            height: 100%;
            display: inline-block;
            margin-right: var(--post-spacing);
            position: relative;
            cursor: pointer;
            transition: all 0.6s;
            /* &:hover img, &:hover video {
                transform: scale(1.04);
                z-index: 9999;
            }
   */
  
            .info {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: hsla(0, 0%, 9%, 0.75);
                text-align: center;
                color: #fff9f1;
                font-size: 4rem;
            }
            img,video {
                width: var(--post-size);
                height: 70%;
                object-position: center;
                object-fit: cover;
                transition: all 0.6s ease-in-out;

            }
             .active{
                background: transparent;
                transition: all 0.6s ease-in-out;
               }
          
        }
    }
  }
  .btn-group {
    
    height: 15vh;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    transition: 1s;
    opacity: 0;
    .btn {
      display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #171717;
        background-color: #fff;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
        box-sizing: border-box;
        &:hover {
            transform: scale(1.2);
            background-color: #000;
            .icon {
                fill: #fff;
            }
        }
        .icon {
            width: 30px;
            height: 30px;
        }
        .right {
            transform: rotate(180deg);
        }
    }
  }
  
  .img-list {
    left: 0;
  }
  
  @keyframes admission {
    0% {
        transform: translate(140vw, 0);
    }
    100% {
        transform: translate(-15.39vw, 0);
    }
  }
  