
@media screen and (min-width: 1400px)and (max-width: 1600px) {

    .link {
      .link-content {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  
  @media screen and (min-width: 800px) and (max-width: 1400px) {
    .link {
      .link-content {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
 
  
  
  @media screen and (max-width: 800px) {
    .navigation-ui{
      .mulu{
        display: none;
      }
      .nav-content {
        margin-top: 40px;
        }
    }
    .link {
      .link-content {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  @media screen and (min-width: 800px) {
    .navigation-ui{
      width: 1400px;
      .nav-content {
      margin-top: 54px;
      }
    }
  }
  
  .active{
    background: rgb(111,92,241);
    color: #ffffff;
  }
  h2,h3,p{
      margin: 0;
  }
  
  .navigation-ui {
  margin: auto;
    /* height: calc(100vh - 107px); */
    background-color: rgb(246, 248, 251);
    padding:0px 20px 20px;
   
    overflow: auto;
   
    .banner {
     
      width: 100%;
      height: 150px;
      border-radius: 8px;
      background: url(@/assets/images/nav/header.png) no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
   
    }
  
    .nav-content {
     
      width: 100%;
      /* height: calc(100% - 170px ); */
      display: flex;
      column-gap: 24px;
      align-items: flex-start;
      overflow: auto;
      
      .mulu{
        padding: 20px 0;
        min-width: 200px;
        height: 100%;
        
      }
      .mulu1 {
        position: fixed;
        padding: 20px 0;
        top: 127px;
        min-width: 200px;
        /* min-height: 600px; */
        background-color:white;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22);
        border-radius: 8px;
        
       
        .mulu-item {
          
          display: flex;
          align-items: center;
            padding: 0 0 0 20px;
            width: 100%;
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            box-sizing: border-box;
            &:hover{
                background: rgb(111,92,241);
                color: #ffffff;
            }
            img{
              margin-right:16px ;
              width: 20px;
              height: 20px;
            }
        }
      }
      .link {
       
        h2{
          margin: 14px 0;
          font-size: 16px;
        }
        
      }
      }
    }
  
  .link-box{
      display: flex;
      flex-direction: column;
  
      
  }
  .link-content {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-row-gap: 15px;
          grid-column-gap: 15px;
          margin-bottom: .5rem;
          
          
          .link-item {
            display: flex;
            padding: 15px;
            width: 100%;
            background-color: white;
            border-radius: 8px;
            box-sizing: border-box;
            cursor: pointer;
            box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22);
            border-radius: 8px;
            &:hover {
              box-shadow: rgb(0 36 100 / 20%) 0px 26px 20px -24px;
          }
            .link-left {
                min-width: 60px;
                img{
                  width: 40px;
                  height: 40px;
                }
            }
            .link-right {
                h3{
                      
                      font-size: 16px;
                      color: #333333;
                }
                p{
                  margin-top: 14px;
                  font-size: 14px;
                  color: #999999;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
         
                  
                }
            }
        }
      }